<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center"> Happy Hour Deal Finder <i class="fas fa-beer"></i></h1>
      <div class="row center">
        <h5 class="header col s12">Search for the best value Happy Hour in your area</h5>
      </div>
      <div class="row center">
        <!-- Modal Trigger -->
        <a id="submit" class="waves-effect waves-light btn-large modal-trigger orange accent-4" href="#modal1"><i
            class="material-icons right">search</i>Start
          Searching</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Please input your zip code</h4>
            <input placeholder="20002" id="zip" type="text" class="validate">
            <label for="first_name">Zip Code</label>
          </div>
          <div class="modal-footer">
            <a href="/search" id="zip-submit" class="modal-close waves-effect waves-green btn-flat ">Search</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background1.jpeg" alt="Unsplashed background img 1" width="auto"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="icon-block center-align">
          <h2 class="center"><i class="material-icons hoverable">insert_emoticon</i></h2>
          <h4 class="center">Who We Are</h4>
          <p class="light">At Balue, we are all about a good deal. Our mission is to help you find Happy Hour deals
            at participating bars and restaurants in your area.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background2.jpg" alt="Unsplashed background img 2" width="auto"></div>
</div>

<div class="container">
  <div class="section" id="contact">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send"></i></h3>
        <h4>How it works</h4>
        <p class="center-align">We give local bars and restaurants the capability to input their happy hour specials
          directly with us for the purpose of share with you. Instead of relying on outdated signs or taking a chance
          at a random place hoping the happy hour is what you seek, you can use Balue's search function to find the
          perfect happy hour for you and your crew.</p>
        <p>The process is simple. Navigate to the search page and add in your desires for the perfect happy hour and
          we will handle the rest.</p>
        <p><strong>Cheers!</strong></p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/background3.jpg" alt="Unsplashed background img 3" width="fit"></div>
</div>
