<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">Taking Happy Hour to new Heights <i class="fas fa-feather-alt"></i></h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/drinks.jpeg" alt="Unsplashed background img 2" width="auto"></div>
</div>

<div class="container">
  <div id="search_head" class="row">
    <div class="col s12 center">
      <h4>Happy Hour Deals In Your Area</h4>
      <br>
      <input placeholder="20002" id="zip" type="text" class="validate">
      <label for="first_name">Zip Code</label>
      <br>
      <br>
      <a id="zip-resubmit" href="" class="waves-effect waves-light btn-small orange accent-4">Submit</a></li>
    </div>
  </div>

  <div id="result_cards" class="row">
    <div id="cards" class="col s4">
      <div class="card orange darken-1">
        <div class="card-content white-text">
          <span id="title" class="card-title center-align"></span>
          <p id="hours"></p>
          <p id="drinks"></p>
          <p id="food"></p>
          <p id="phone"></p>
        </div>
        <div class="card-action amber center-align">
          <a class="white-text" href="#">Check out this bar on Yelp!</a>
        </div>
      </div>
      <div class="card orange darken-1">
        <div class="card-content white-text">
          <span class="card-title center-align">Rocket Bar</span>
          <p>Hours: 4-7pm</p>
          <p>Drink Specials: 5$ Red/White Wine Glasses</p>
          <p>Food Specials: 1/2 Off all Entres</p>
          <p>Phone: 202-504-2495</p>
        </div>
        <div class="card-action amber center-align">
          <a class="white-text" href="#">Check out this bar on Yelp!</a>
        </div>
      </div>
      <div class="card orange darken-1">
        <div class="card-content white-text">
          <span class="card-title center-align">Johnny Pistolas</span>
          <p>Hours: All Night</p>
          <p>Drink Specials: 2$ Coronas</p>
          <p>Food Specials: 3$ Tacos</p>
          <p>Phone: 202-904-3950</p>
        </div>
        <div class="card-action amber center-align">
          <a class="white-text" href="#">Check out this bar on Yelp!</a>
        </div>
      </div>
    </div>
          <div class="col s8">
             <div class="valign-wrapper">
            <div id="map_container">
              <img id ="map" src="/img/map.png" alt="map" width="700px">
          </div>
      </div>
      </div>
  </div>  
</div>
