<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4 class="header col s12 light">Taking Happy Hour to new Heights <i class="fas fa-feather-alt"></i></h4>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/img/drinks.jpeg" alt="Unsplashed background img 2" width="auto"></div>
</div>

<div class="container">
  <div id="search_head" class="row">
    <div class="col s12 center">
      <h4>Happy Hour Deals In Your Area</h4>
      <br>
      <input placeholder="20002" id="zip" type="text" class="validate">
      <label for="first_name">Zip Code</label>
      <br>
      <br>
      <a id="zip-resubmit" href="" class="waves-effect waves-light btn-small orange accent-4">Submit</a></li>
    </div>
  </div>

  <div class="container" id="results-container">
    <div class="row">
      <div class="col s12 center">
        <h4>Happy Hour Deals In Your Area</h4>
        <br>
      </div>
    </div>
    <div id="results" class="row">
      <div id="cards" class="col s6">
      </div>
    </div>
  </div>

  {{!-- <div class="container">
    <div class="row">
      <div class="map-position">
        <div class="section col s6" id="map"></div>
      </div>
    </div>
  </div> --}}