<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Balue - The Key to a Happier Hour</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:700" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="../public/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="index.html" class="brand-logo"><img src="../public/img/Balue.png"
                        alt="logo" width="120px"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="submit.html">Submit a Deal</a></li>
                    <li><a a href="/views/auth/google"
                            class="waves-effect waves-light btn-small orange accent-4">Login</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="search.html">Search</a></li>
                    <li><a href="submit.html">Submit a Deal</a></li>
                    <li><a a href="/views/auth/google"
                            class="waves-effect waves-light btn-small orange accent-4">Login</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Cheers to supplying the fun <i class="fas fa-glass-cheers"></i></h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="../public/img/submit.jpeg" alt="Unsplashed background img 2" width="130%"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Happy Hour Deal Submission</h4>
                    <p class="left-align light"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="John Doe" id="name" type="text" class="validate">
                            <label for="name">Full Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="telephone" type="tel" class="validate">
                            <label for="telephone">Telephone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="company" type="text" class="validate">
                            <label for="company">Company</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">access_time</i>
                            <input id="hours" type="text" class="validate">
                            <label for="email">Deal Hours</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_bar</i>
                            <textarea id="drink_specials" class="materialize-textarea"></textarea>
                            <label for="drink_specials">Drink Specials </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">local_dining</i>
                            <textarea id="food_specials" class="materialize-textarea"></textarea>
                            <label for="food_specials">Food Specials </label>
                        </div>
                    </div>
                    <div class="row right-align">
                        <button id="submit" class="right-align btn-large waves-effect waves-light orange accent-4" type="submit"
                            name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <div class="container valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="icon-block center-align">
                    <h2 class="center "><i class="material-icons">group</i></h2>
                    <h5 class="center">A Quick Note from Us</h5>
                    <p class="light center-align">We take our submissions very seriously here at Balue. After
                        submitting your special, a representative will reach out to your bar/restaurant to ensure
                        everything is accurate. Our goal is to ensure our users are getting the deals they yearn for
                        and deserve so submission accuracy is critical. </p>
                    <p>Thank you for taking the time to submit. Without your help, there would be no Balue.</p>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer amber">
    <div class="container">
      <div class="row">
        <div class="col m6 s12 center-align">
          <ul id="bottomNav">
            <li><a class="white-text" href="index.html">Home</a></li>
            <li><a class="white-text" href="search.html">Search</a></li>
            <li><a class="white-text" href="submit.html">Submit a Deal</a></li>
          </ul>
        </div>
        <div class="col m6 s12 center-align">
          <h5 class="white-text">Meet our Team</h5>
          <ul id="team">
            <li><a class="tooltipped" data-position="top" data-tooltip="Monique Morales" href="#!"><img class="team circle responsive-img"
                  src="../public/img/monique.jpg"></a>
            <li><a class="tooltipped" data-position="top" data-tooltip="Carlos Mendez" href="#!"><img class="team circle responsive-img"
                  src="../public/img/carlos.png"></a>
            <li><a class="tooltipped" data-position="top" data-tooltip="Devan Gilliard" href="#!"><img class="team circle responsive-img"
                  src="../public/img/devan.jpeg"></a>
            <li><a class="tooltipped" data-position="top" data-tooltip="Kenny Mayer" href="#!"><img class="team circle responsive-img"
                  src="../public/img/kenny.jpeg"></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../public/js/init.js"></script>
</body>

</html>